@media screen and (min-width: 200px) and (max-width: 378px){
    .Price-single{
        margin-left: auto;
    }
    
}
@media screen and (min-width: 200px) and (max-width: 378px){
    .Price-single{
        margin-left: auto;
    }
    
}
@media screen and (min-width: 200px) and (max-width: 378px){
  .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.left-2{
        margin-left: auto;
    }
    
}
@media screen and (max-width: 420px){
    input.field{
        width: 200px;
    }
    
}